<hr>

<h3>Part of the screen displayed by default or when "Rent a car" is selected</h3>
<form [formGroup]="rForm" (ngSubmit) = "addCar()">
  <div class="form-container">
    <div class="row columns">
      <h2>Add new car</h2>
      <label>Plate Number
        <input type="text" formControlName="plateNumber">
      </label>
      <label>Brand
        <input type="text" formControlName="brand">
      </label>
      <label>Price
        <input type="text" formControlName="price">
      </label>
      <button type="submit">Submit Form</button>
    </div>
  </div>
</form>

<h2>Select a car:</h2>

<h3>Using angular li - click on any car to be rented:</h3>

<ul class="cars">
  <li *ngFor="let car of cars" (click)="onSelect(car)">
  	{{car.plateNumber}}: {{car.brand}}: {{car.price}} euros/day
  	<div *ngIf="car.rented == false">
  		TO BE RENTED
  	</div>
  	<div *ngIf="car.rented == true">
  		RENTED
  	</div>
  </li>
</ul>

<h3>Using angular select - Rented car:</h3>

<div>
	<select [(ngModel)]="selectedCar" required> 
    	<option *ngFor="let car of cars" [ngValue]="car">
    		<div *ngIf="car.rented == false">
    			{{car.brand}}
    		</div>    	
    	</option>
  	</select>
</div>

<div *ngIf="selectedCar">
  <h2>Selected car: {{selectedCar.brand | uppercase}}
  </h2>
  <button (click)="gotoDetail()">Choose my rental options</button>
</div>
